.AddPhoneCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .CardContainer {
  
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Poppins", sans-serif;
  }
  .PriceContainer {
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center; /* Add this line for center alignment */
  }
  .CategoryContainer {
    margin-top: 70px;
    margin-bottom: 40px;
  }